:root {
    background-color: aqua;
    text-align: center;
}

body {
    font-size: 18px; /* Define um tamanho maior para o texto padrão */
}

.titulo {
    font-size: 24px; /* Mantém o título com um tamanho fixo */
    font-weight: bold;
}

@media (max-width: 768px) {
    .conteudo {
        width: 90%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .cta-button {
        width: 100%;
    }
}
